
<div class="message-block">
  <div class="message-header">By
    <span class="message-author"><%= msg.author_username %></span>
     at <span class="message-timestamp"><%= msg.created_at.to_formatted_s(:short) %></span>
  </div>
  <div class="message-body">
    <%= msg.content %>
  </div>
</div>
