<h1>Topic: <%= @topic.name %></h1>

<h2>Threads</h2>
<table id="topic_conversations">
  <thead>
    <tr>
      <th>Title</th>
      <th>Started by</th>
      <th>Started at</th>
      <th>Messages</th>
    </tr>
  </thead>
  <tbody>
    <% @topic.conversations.each do |conv| %>
      <%= render partial:'conv', locals: {conv: conv} %>
    <% end %>
  </tbody>
</table>
